scopeName: 'source.cairo'
name: 'Cairo'
fileTypes: [
  'cairo'
]

patterns: [
  {include: '#comments'}
]

repository:
  comments:
    patterns: [
      {
        begin: '#'
        beginCaptures:
          0:
            name: 'punctuation.definition.comment'
        end: '$'
        name: 'comment.line.number-sign'
      }
    ]
